<a href="https://colab.research.google.com/github/zephyr146/introduction-to-Computer/blob/main/0518.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("hi")

hi

In [3]:
i = range(5)

In [4]:
print(type(i))

<class 'range'>

In [5]:
print(i)

range(0, 5)

In [6]:
print(list(i))

[0, 1, 2, 3, 4]

In [7]:
j = range(10)

In [9]:
a = range(3,8)
print(list(a))

[3, 4, 5, 6, 7]

In [10]:
b = range(-2,4)
print(list(b))

[-2, -1, 0, 1, 2, 3]

In [11]:
c = range(3,8,1)
print(list(c))

[3, 4, 5, 6, 7]

In [29]:
f = range(9)
print(list(f))
h = range(1,10)
print(list(g))
h = range(1,10,2)
print(list(h))
i = range(10,1,-2)
print(list(i))

[0, 1, 2, 3, 4, 5, 6, 7, 8]
[11, 9, 7, 5, 3]
[1, 3, 5, 7, 9]
[10, 8, 6, 4, 2]

In [27]:
for n in range(10):
  print(n, end =",")

0,1,2,3,4,5,6,7,8,9,

In [32]:
test = int(input("請輸入一個正數"))
for m in range(1,test+1):
  print(m,end = " ")

請輸入一個正數10
1 2 3 4 5 6 7 8 9 10

In [34]:
test = int(input("請輸入一個正數"))
for m in range(1,test+1, 2):
  print(m,end = " ")

請輸入一個正數10
1 3 5 7 9

In [35]:
sum = 0
for n in range(3):
  sum =sum+n
print(sum)

3

In [36]:
sum = 0
for n in range(5):
  sum =sum+n
print(sum)

10

In [60]:
sum = 0
num = int(input("請輸入一個正整數"))
for n in range(num+1):
  sum =sum+n
print("1到",num,"的整數和為",sum,)

請輸入一個正整數50
1到 50 的整數和為 1275

In [65]:
sum = 0
num = int(input("請輸入一個正整數:"))
for n in range(1,num+1):
  sum = sum+n
  print("1到",n,"的整數和為",sum)

請輸入一個正整數:10
1到 1 的整數和為 1
1到 2 的整數和為 3
1到 3 的整數和為 6
1到 4 的整數和為 10
1到 5 的整數和為 15
1到 6 的整數和為 21
1到 7 的整數和為 28
1到 8 的整數和為 36
1到 9 的整數和為 45
1到 10 的整數和為 55